<header class="d-flex justify-content-between align-items-center mb-3">
  <h4>List of Pins</h4>
  <div class="d-flex gap-3 btn-grp">
    <button class="btn btn-outline-primary" (click)="openAddCustomerModal()">
      <i class="bi bi-person-fill"></i> Add Customer
    </button>
    <button class="btn btn-primary" (click)="openAddPinModal()">
      <i class="bi bi-pin-fill"></i> Add Pin
    </button>
  </div>
</header>

<div class="container mt-4">
  <ng-container *ngIf="!pins.length">
    <div class="empty__container">
      <div class="d-flex flex-column align-items-center p-5 card shadow-sm">
        <i class="bi bi-folder-x"></i>
        <span>
          No pins found! Start by
          <a class="link c-pointer" (click)="openAddPinModal()">Creating one</a
          >!
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="pins.length">
    <div class="pin__list table-responsive">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Collaboratory</th>
            <th>Privacy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pin of pins">
            <td>{{ pin.title | titlecase }}</td>
            <td>
              <img
                [src]="pin.image || 'https://placehold.co/100x60'"
                alt="Pin Image"
              />
            </td>
            <td>
              <div *ngFor="let collab of pin.collaboratories">
                {{ collab | titlecase }}
              </div>
            </td>
            <td>
              <span> {{ pin.privacy | titlecase }} </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>

<div class="reset__wrapper" *ngIf="pins.length">
  <a href="#" class="reset__link c-pointer" (click)="resetData()">
    Reset Data & Start Afresh
  </a>
</div>
